@{
    ViewData["Title"] = " Notícias ";
}
<!DOCTYPE html>
<html>

<body align="center">
    <header>
        <h1>Notícias Urgentes</h1>
    </header>
    <main>
        <h2>Honorários contábeis: saiba como fazer o reajuste</h2>

        <iframe width="950" height="360" src="https://www.youtube.com/embed/w5LcG_AtUmc" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen align id="honorario"></iframe>
        <br>
        <p>
            <span id="honorario"> Durante a crise causada pelo coronavírus, escritórios contábeis precisaram reduzir
                honorários
                como
                forma de colaborar com os clientes que tiveram queda no faturamento.</span>
            <span id="honorario">Por outro lado, os profissionais tiveram um grande aumento de demanda, visto que
                tiveram
                papel
                fundamental na proteção dessas empresas.Com a orientação frente às atualizações da
                legislação
                contábil, flexibilização das leis trabalhistas e de alguns impostos no período, as empresas
                não
                comprometeram o fluxo de caixa.
                Contudo, com a retomada das atividades, os escritórios devem rever os honorários que estavam
                sendo praticados. </span>
        </p>
        <p>
            <span id="honorario">Nessa quarta-feira (6) o Portal Contábeis realizará um webinar com Ricardo Rios,
                contador,
                empresário e professor universitário e Flávia Augusto, contadora, empresária e Perita Contábil, para
                discutir o tema.

                Durante a transmissão, os profissionais darão dicas para negociar o reajuste. Para participar, basta
                preencher o formulário ao lado. Alguns minutos antes da transmissão enviaremos o link de acesso ao
                webinar.</span>
        </p>
        <h2>Conheça os incentivos voltados às MPEs</h2>
        <iframe width="950" height="360" src="https://www.youtube.com/embed/aSTihNybvdk" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen id="MPES"></iframe>
        <p text-align="right">
            <span>No dia 05 de outubro foi comemorado o dia das micro e pequenas empresas (MPEs). Como
                homenagem ao
                setor que mais emprega no país, o Portal Contábeis convidou João Batista Costa, consultor do Sebrae/SP,
                para falar dos benefícios fiscais, incentivos e linhas de créditos oferecidas a essas empresas. Dê o
                play.</span>
        </p>
        <h2>Entenda porquê fazer um planejamento tributário e estratégico para 2022
        </h2>
        <iframe width="950" height="360" src="https://www.youtube.com/embed/VyP-XCbae_s" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen id="planejamento"></iframe>
        <p>
            <span>O final do ano está se aproximando e já é hora das empresas começarem a se preparar para 2022. Diante
                de tantas mudanças no cenário político e, principalmente, econômico no mundo todo, o planejamento
                tributário é fundamental para garantir a saúde financeira de empresas no próximo ano. </span>
            <spane>No Notícia em Detalhe, a Nathalia Lisboa, advogada tributarista, especialista em planejamento
                tributário, explica todos os pontos a serem considerados para preparar seu negócio para os desafios do
                próximo ano.</spane>
        </p>




    </main>
</body>

</html>