@{
    ViewData["Title"] = "Quem Somos";
}
<!DOCTYPE html>
<html>

<body>
    <br>
    <main>
        <h2>Quem Somos</h2>

        <img
            src="https://thumbs.jusbr.com/filters:format(webp)/imgs.jusbr.com/publications/images/4501dc65a5ca0fbc46262655d074dbef">
        <br>
        <b>
            <span>Nossa instituição prestar consultória e efetuação de cálculos trabalhistas (FGTS e INSS) com base no
                sálario do funcionário no ano corrente. Caso queira saber como cálcular o FGTS e/ou INSS do seu
                funcionário
                basta <a asp-action="Servico">clicar aqui.</a></span></b>
        <h2>O QUE É E PARA O QUE SERVE O FGTS?</h2>

        <p>O Fundo de Garantia do Tempo de Serviço (FGTS) foi criado com o objetivo de proteger o trabalhador demitido
            sem justa causa, mediante a abertura de uma conta vinculada ao contrato de trabalho.</p>
        <h2>O QUE É E PARA O QUE SERVE O INSS?</h2>

        <p>
            O INSS é o órgão responsável pelo pagamento de benefícios previdenciários como aposentadoria, seguro
            desemprego, auxílio-doença, pensão por morte e outros. ... Mensalmente o trabalhador brasileiro contribui
            com o INSS para garantir o direito a recorrer a esses benefícios.
        </p>
        <h2>O QUE FAZEMOS?</h2>

        <span>Editamos a informação legal, respeitando o cliente, principalmente com relação ao conteúdo da informação,
            procurando não fracionar ou omitir informações emanadas do legislativo, no propósito de comercializá-las à
            parte.</span>
    </main>
</body>

</html>